.Header {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
}

.Header-title {
  font-size: larger;
  color: lightgray;
  font-weight: bold;
  text-align: start;
  flex: 1;
}

.Header-logo {
  height: 60px;
  margin: 0 32px;
}
